body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

body * {
    font-family: 'Times New Roman', Times, serif
}

.header {
    background-color: #1F2937;
    padding-bottom: 16px;
}

.container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 24px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    margin-bottom: 48px;
}

.header-top-left {
    color: white;
    font-weight: 700;
    font-size: 24px;
}

.header-content {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.header-img {
    max-width: 50%;
}

.header-content-left {
    color: white;
    padding-right: 16px;
    max-width: 50%;
}

.header-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 8px;
}

.text {
    font-size: 18px;
    color: #e7e5eb;
    margin-bottom: 16px;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
}

button:hover {
    cursor: pointer;
}

.information {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.information-content {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 64px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    border-color: red;
    border-width: 4px;
    border-style: solid;
    margin-bottom: 8px;
}

.item-text {
    text-align: center;
    color: darkslategrey;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: end;
    padding: 100px 200px;
}

.quote-content {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    margin-left: 64px;
    margin-bottom: 8px;
}

.quoter {
    font-weight: bolder;
}

.call-to-action {
    background-color: #3882f6;
    margin: 100px 200px;
    padding: 48px 96px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.call-left-title {
    color: white;
    font-size: 36px;
}

.call-button {
    border-color: white;
    border-style: solid;
    font-size: 16px;
}
